<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bekijk je fouten | Lord Of The Coders</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"rel="nofollow" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mistakes.css">
    <script src="javascript/hamburger-menu.js" defer></script>
    <link rel="icon" type="image/x-icon" href="/assets/lord-of-the-coders-logo.png">
</head>
<body>
    <%- include("partials/header") %>
    <main>
        <section>
            <h2>Bekijk je juiste antwoorden</h2>
            <article class="kader">
            <% if (mistakes && mistakes.length > 0) { %>
                <% mistakes.forEach(function(item) { %>
                    <article class="listkader">
                        <h3>"<%= item.quote %>"</h3>
                        <p class="answer <%= item.charCorrect ? 'answer-correct' : 'answer-wrong' %>">
                            Karakter: <span><%= item.correctCharacter %></span>
                        </p>
                        <p class="answer <%= item.movieCorrect ? 'answer-correct' : 'answer-wrong' %>">
                            Film: <span><%= item.correctMovie %></span>
                        </p>
                    </article>
                <% }); %>
            <% } else { %>
                <article class="listkader">
                    <h3>Geen fouten of antwoorden om te tonen.</h3>
                </article>
            <% } %>
            </article>
        </section>
    </main>
    <%- include("partials/footer") %>
</body>
</html>

